<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Form Veículos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="app/templates/layouts/jquery/jquery.js"></script>
    <script src="app/templates/layouts/jquery/jquery.mask.js"></script>
    <script src="app/templates/layouts/jquery/default.js"></script>
    <script type="module" src="app/templates/veiculo/form.veiculos.js"></script>

    <link rel="stylesheet" type="text/css" href="app/templates/layouts/styles/style.css">
</head>

<body>
    <form method="post" id="form">
        <p id=menu></p>
        <div>
            <p>
                <label>Cadastro de veículos</label>
                <label class="label-right" id="total"></label>
                <label class="label-right">Total de registros: </label>
            </p>
        </div>

        <div>
            <button type="button" class="collapsible" name="botaoFiltros">
                <label class="label-filter">Filtros</label>
            </button>
            <div class="content">
                <span class="block-half">
                    <label for="descricao">Descrição</label>
                    <input class="filtro" type="text" id="filtroDescricao" name="filtroDescricao" maxlength="60" placeholder="Descrição do veículo">
                </span>
                <span class="block-quarter">
                    <label for="marca">Marca</label>
                    <select id="filtroMarca" name="filtroMarca" class="filtro select-css">
                        <option disabled selected value> -- marca -- </option>
                        <option value=""></option>
                        <option value="Citroen">Citroen</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="Fiat">Fiat</option>
                        <option value="Ford">Ford</option>
                        <option value="Honda">Honda</option>
                        <option value="Renault">Renault</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Volkswagen">Volkswagen</option>
                    </select>
                </span>
                <span class="block-full">
                    <label class="page-header">Componentes adicionais</label>
                    <hr>
                    <div>
                        <div id="componentes"></div>
                    </div>
                </span>
                <span class="block-quarter">
                    <input type="button" class="filter" value="Filtrar" id="filter-button" name="filter">
                    <input type="button" class="clear" value="Limpar" id="cleanFilters-button" name="filter">
                </span>
            </div>
        </div>

        <table id="lista_veiculos" class="table table-striped">
            <thead>
                <th>Descrição</th>
                <th>Placa</th>
                <th>Marca</th>
                <th class="action">
                    <input type="button" class="insert" value="Incluir" id="create-button">
                    <div margin class="dropdown">
                        <input type="button" class="report dropbtn" value="Relatório" id="report-button">
                        <div class="dropdown-content">
                            <a id="byVeiculo" href="#">Veículos</a>
                            <a id="byMarca" href="#">Por marca</a>
                            <a id="byAno" href="#">Por ano</a>
                        </div>
                    </div>
                </th>
            </thead>
            <tbody></tbody>
        </table>

        <p id="pagination"></p>
    </form>
</body>